<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Website</key>
	<string>http://wechat.hoyofuwu.com</string>
	<key>TokenFailCode</key>
	<string>-10006</string>
	<key>SuccessCode</key>
	<string>0</string>
	<key>Path</key>
	<dict>
		<key>SendMessage</key>
		<string>/Command/SendMessage</string>
		<key>BingJgNotifyId</key>
		<string>/Command/BingJgNotifyId</string>
		<key>UploadImages</key>
		<string>/Upload/Images</string>
		<key>SendPhoneCode</key>
		<string>/Command/SendPhoneCode</string>
		<key>AppChenkPhone</key>
		<string>/FamilyAccount/AppChenkPhone</string>
		<key>AppRegister</key>
		<string>/FamilyAccount/AppRegister</string>
		<key>AppLogin</key>
		<string>/FamilyAccount/AppLogin</string>
		<key>GetCurrentUserInfo</key>
		<string>/AppInterface/GetCurrentUserInfo</string>
		<key>UpdateUserInfo</key>
		<string>/FamilyAccount/UpdateUserInfo</string>
		<key>GetOrderList</key>
		<string>/AppInterface/GetOrderList</string>
		<key>RobOrder</key>
		<string>/AppInterface/RobOrder</string>
		<key>FinshOrder</key>
		<string>/AppInterface/FinshOrder</string>
		<key>GetOrderDetails</key>
		<string>/AppInterface/GetOrderDetails</string>
		<key>NewVersion</key>
		<string>/Command/NewVersion</string>
		<key>RefreshIndex</key>
		<string>/AppInterface/RefreshIndex</string>
		<key>SubmitTime</key>
		<string>/AppInterface/SubmitTime</string>
		<key>GetHomeTimeList</key>
		<string>/AppInterface/GetHomeTimeList</string>
		<key>PartnerCommand</key>
		<string>/AppInterface/PartnerCommand</string>
		<key>UpgradeAuthority</key>
		<string>/AppInterface/UpgradeAuthority</string>
		<key>GetNowAuthorityDetail</key>
		<string>/AppInterface/GetNowAuthorityDetail</string>
		<key>GetMyScoreDetails</key>
		<string>/AppInterface/GetMyScoreDetails</string>
		<key>GetOwenBindBlankCard</key>
		<string>/Command/GetOwenBindBlankCard
Get
Post
/Command/GetOwenBindBlankCard</string>
		<key>BindNewBlankCard</key>
		<string>/Command/BindNewBlankCard</string>
		<key>GetOwenMoney</key>
		<string>/AppInterface/GetOwenMoney
Get
Post
/AppInterface/GetOwenMoney</string>
		<key>GetOwenMoneyDetails</key>
		<string>/AppInterface/GetOwenMoneyDetails</string>
	</dict>
	<key>ErrorCode</key>
	<dict>
		<key>-10001</key>
		<string>登陆参数/模式错误</string>
		<key>-10002</key>
		<string>微信APPID为空</string>
		<key>-10003</key>
		<string>刷新微信AccessToken错误
</string>
		<key>-10004</key>
		<string>服务器异常错误</string>
		<key>-10005</key>
		<string>获取微信用户信息错误</string>
		<key>-10006</key>
		<string>用户UserTOken保存数据库失败
</string>
		<key>-10007</key>
		<string>微信用户未注册绑定手机</string>
		<key>-10008</key>
		<string>用户已经不存在</string>
		<key>-10009</key>
		<string>访问接口参数错误</string>
		<key>-10010</key>
		<string>验证码发送频繁请稍后再试</string>
		<key>-10011</key>
		<string>手机号已经被注册</string>
		<key>-10012</key>
		<string>验证码无效</string>
		<key>-10013</key>
		<string>验证码已经使用过了</string>
		<key>-10014</key>
		<string>验证码已经过期了</string>
		<key>-10015</key>
		<string>权限错误，无权访问</string>
		<key>-10016</key>
		<string>实名信息提取失败</string>
		<key>-10017</key>
		<string>身份证已经被使用过了</string>
		<key>-10018</key>
		<string>手机号或者密码错误</string>
		<key>-10019</key>
		<string>统一订单号生产失败，请稍后再试</string>
		<key>-10020</key>
		<string>订单生成失败</string>
		<key>-10021</key>
		<string>非法注册
非法注册
</string>
		<key>-10022</key>
		<string>订单不存在或者被抢</string>
		<key>-10023</key>
		<string>订单已经被抢了
</string>
		<key>-10024</key>
		<string>订单超过了可抢时间</string>
		<key>-10025</key>
		<string>上传图片失败</string>
		<key>-10026</key>
		<string>非法操作
</string>
		<key>-10027</key>
		<string>订单已经提交过完成</string>
		<key>-10028</key>
		<string>已经评价过了</string>
		<key>-10029</key>
		<string>非法支付</string>
		<key>-10030</key>
		<string>定位数据未上传</string>
		<key>-10031</key>
		<string>已经是当前角色，不用升级</string>
		<key>-10032</key>
		<string>有角色权限在审核中，等上一次审核结果出来后，再提交</string>
		<key>-10033</key>
		<string>组(合伙人)不存在</string>
		<key>-10034</key>
		<string>当前组(合伙人)不能加入</string>
		<key>-10035</key>
		<string>已经是当前组（合伙人）的成员</string>
		<key>-10036</key>
		<string>已经加入到了其他组，推出后再加入</string>
		<key>-10037</key>
		<string>你不是当前组的成员</string>
		<key>-10038</key>
		<string>银行卡已经被自己绑定过了</string>
		<key>-10039</key>
		<string>该工程师没有加入任何团队</string>
		<key>-10040</key>
		<string>未经过实名认证</string>
		<key>70000</key>
		<string>审核中</string>
		<key>70002</key>
		<string>审核失败</string>
		<key>70003</key>
		<string>被封号了</string>
	</dict>
</dict>
</plist>
